.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-log {
  width: 75%;
}

.App-header {
  background-color: #8C1415;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

acronym {
  cursor: pointer;
}

button {
  display: inline-block;
  border: none;
  background: initial;
  color: white;
  font-size: inherit;
  padding: initial;
  text-decoration: underline;
  cursor: pointer;
}

dt {
  float: left;
  width: 60%;
  text-align: right;
  padding: .25em;
  clear: left;
  font-style: italic;
  font-weight: light;
}

dt:first-child {
  text-decoration: underline;
  font-style: initial;
}

dd {
  width: 30%;
  float: left;
  text-align: left;
  padding: .25em 0;
}

dd:first-letter{
  text-transform: capitalize;
}

dt:hover, dt:hover + dd {
  opacity: 0.5;
}

dl:after {
  content: "";
  display: table;
  clear: both;
}

input {
  padding: .25rem;
  font-size: initial;
  margin: .25rem;
}

input[type="text"] {
  width: 75%;
  text-align: center;
}

li {
  display: inline-block;
}

progress {
  width: 100%;
}
